environment {
    CLUTTER_BACKEND "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    ELM_DISPLAY "wl"
    GDK_BACKEND "wayland"
    NO_AT_BRIDGE "1"
    OZONE_PLATFORM "wayland"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

overview {
    backdrop-color "#221b2d"
    zoom 0.3
}

input {
    keyboard {
        xkb {
            layout "latam"
        }
        numlock
    }

    touchpad {
        tap
        tap-button-map "left-right-middle"
        natural-scroll
        accel-speed 0.2
        accel-profile "adaptive"
        scroll-method "two-finger"
        dwt
    }
    
    focus-follows-mouse
    warp-mouse-to-focus
    disable-power-key-handling
}

output "HDMI-A-1" {
    mode "1920x1080@75"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 12
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#b084f4"
        inactive-color "#26233a"
    }

    insert-hint {
        color "#b084f4aa"
    }

    border {
        off
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // background-color "#221b2d"
    background-color "#000000"

}

spawn-at-startup "waybar"
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri"
spawn-sh-at-startup "~/.config/niri/autostart.sh"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^com\.nextcloud\.desktopclient\.nextcloud$"#
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match app-id=r#"qalc$"#
    open-floating true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Space { spawn "fuzzel"; }
    Mod+Alt+L { spawn "swaylock" "-f" "-c" "000000"; }
    Mod+Q { close-window; }
    Mod+Tab { toggle-overview; }
    Mod+Shift+Tab { spawn "killall" "-SIGUSR1" "waybar"; }
    Mod+Return { spawn "foot"; }
    Mod+E { spawn "xdg-open" "."; }

    Mod+A { spawn "rofi" "-show" "drun"; }
    Mod+B { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/bluetooth/bluetooth.sh"; }
    // Mod+Period { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/emoji/emoji.sh"; }
    Mod+T { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/tmux/tmux.sh"; }
    // Mod+N { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/notes/notes.sh"; }
    // Mod+Shift+T { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/todo/todo.sh"; }
    Mod+I { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/calendar/calendar.sh"; }
    // Mod+Comma { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/wallpaper/wallpaper.sh"; }
    // Mod+Shift+Comma { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/themecopy/copy.sh"; }
    // Mod+V { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/cliphist/cliphist.sh"; }
    Mod+Escape { spawn "bash" "-c" "~/dam.nix/modules/linux/rofi/powermenu/powermenu.sh"; }

    Mod+D { spawn "swaync-client" "-t"; }
    Mod+Shift+Q { quit; }
    
    Mod+Shift+S { screenshot; }
    Mod+Shift+A { screenshot-window; }
    Mod+F { maximize-column; }
    
    Mod+Shift+Up { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+10%"; }
    Mod+Shift+Down { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-10%"; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioMedia allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Left { set-column-width "-10%"; }
    Mod+Right { set-column-width "+10%"; }
    Mod+Up { set-window-height "-10%"; }
    Mod+Down { set-window-height "+10%"; }

    Mod+Shift+N { spawn "python" "/absolute/path/to/network.py"; }

    Mod+R { switch-preset-column-width; }
    Mod+S { toggle-window-floating; }
    Mod+Alt+Tab { focus-window-previous; }
    Mod+Ctrl+Shift+4 { screenshot; }
}